name: Node.js CI + Docs Deploy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: Pablomed03.
          POSTGRES_DB: tfg_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres -d tfg_db"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      NODE_ENV: test
      # Igual que en tu .env local
      DATABASE_URL_LOCAL: postgresql://postgres:Pablomed03.@localhost:5432/tfg_db

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm ci

      - name: Wait for Postgres to be ready
        run: |
          for i in {1..30}; do
            pg_isready -h localhost -U postgres -d tfg_db && break
            echo "Waiting for Postgres..."
            sleep 1
          done

      - name: Run ESLint with --fix
        run: npm run lint:fix

      - name: Run ESLint
        run: npm run lint

      - name: Run tests
        run: npm test
